<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_admin_layout}">

<head>
    <title th:text="${seatType.id != null ? 'Chỉnh Sửa Loại Ghế' : 'Thêm Loại Ghế Mới'}">
        Form Loại Ghế
    </title>
</head>

<body>
<div layout:fragment="content">

    <h2 th:text="${seatType.id != null ? 'Chỉnh Sửa Loại Ghế' : 'Thêm Loại Ghế Mới'}">
        Form Loại Ghế
    </h2>

    <div th:if="${errorMessage}"
         th:text="${errorMessage}">
    </div>

    <form th:action="@{/seat-types/save}"
          th:object="${seatType}"
          method="post">

        <input type="hidden" th:field="*{id}">

        <div>
            <label>Tên Loại Ghế</label>

            <input type="text"
                   th:field="*{name}"
                   placeholder="VD: Ngồi mềm điều hòa"
                   required>
        </div>

        <div>
            <label>Đơn Giá (VND / 1 KM)</label>

            <input type="number"
                   th:field="*{pricePerKm}"
                   placeholder="VD: 700"
                   required>
        </div>

        <div>
            <button type="submit">
                Lưu Loại Ghế
            </button>

            <a th:href="@{/seat-types}">
                Hủy
            </a>
        </div>

    </form>

</div>
</body>
</html>