<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_admin_layout}">

<head>
    <title>Route Form</title>
</head>

<div layout:fragment="content">

    <h2
            th:text="${route.routeId==null}
            ? 'Create Route'
            : 'Update Route'">
    </h2>

    <form th:action="@{/routes/save}"
          th:object="${route}"
          method="post">

        <input type="hidden"
               th:field="*{routeId}">

        <div class="mb-3">

            <label>Route Code</label>

            <input class="form-control"
                   th:field="*{routeCode}">

        </div>

        <div class="mb-3">

            <label>Route Name</label>

            <input class="form-control"
                   th:field="*{routeName}">

        </div>

        <div class="mb-3">

            <label>Distance (km)</label>

            <input type="number"
                   step="0.1"
                   class="form-control"
                   th:field="*{distanceKm}">

        </div>

        <button class="btn btn-success">
            Save
        </button>

        <a th:href="@{/routes}"
           class="btn btn-secondary">
            Back
        </a>

    </form>

</div>

</html>