<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_admin_layout}">

<head>
    <title>Route Management</title>
</head>

<div layout:fragment="content">

    <div class="d-flex justify-content-between mb-3">
        <h2>Route Management</h2>

        <div>
            <a th:href="@{/routes/search}" class="btn btn-info">
                Search Route
            </a>

            <a th:href="@{/routes/new}" class="btn btn-primary">
                Add Route
            </a>
        </div>
    </div>

    <div class="alert alert-success"
         th:if="${successMessage}"
         th:text="${successMessage}">
    </div>

    <div class="alert alert-danger"
         th:if="${errorMessage}"
         th:text="${errorMessage}">
    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Route Code</th>
            <th>Route Name</th>
            <th>Distance (km)</th>
            <th width="180">Action</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="route : ${routes}">

            <td th:text="${route.routeId}"></td>

            <td th:text="${route.routeCode}"></td>

            <td th:text="${route.routeName}"></td>

            <td th:text="${route.distanceKm}"></td>

            <td>

                <a class="btn btn-warning btn-sm"
                   th:href="@{'/routes/edit/' + ${route.routeId}}">
                    Edit
                </a>

                <a class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this route?')"
                   th:href="@{'/routes/delete/' + ${route.routeId}}">
                    Delete
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

</html>