<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_admin_layout}">

<head>
    <title>Search Route</title>
</head>

<div layout:fragment="content">

    <h2>Search Route</h2>

    <form th:action="@{/routes/search}"
          method="post">

        <div class="row">

            <div class="col-md-5">

                <label>Start Station</label>

                <select class="form-control"
                        name="startStationId">

                    <option
                            th:each="station:${allStations}"
                            th:value="${station.stationId}"
                            th:text="${station.stationName}">
                    </option>

                </select>

            </div>

            <div class="col-md-5">

                <label>End Station</label>

                <select class="form-control"
                        name="endStationId">

                    <option
                            th:each="station:${allStations}"
                            th:value="${station.stationId}"
                            th:text="${station.stationName}">
                    </option>

                </select>

            </div>

            <div class="col-md-2 d-flex align-items-end">

                <button class="btn btn-primary w-100">

                    Search

                </button>

            </div>

        </div>

    </form>

    <hr>

    <div
            th:if="${routes!=null}">

        <table class="table table-bordered">

            <thead>

            <tr>

                <th>ID</th>

                <th>Code</th>

                <th>Name</th>

                <th>Distance</th>

            </tr>

            </thead>

            <tbody>

            <tr th:each="route:${routes}">

                <td th:text="${route.routeId}"></td>

                <td th:text="${route.routeCode}"></td>

                <td th:text="${route.routeName}"></td>

                <td th:text="${route.distanceKm}"></td>

            </tr>

            </tbody>

        </table>

    </div>

</div>

</html>