<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/admin-layout :: layout('Route Form', ~{::section}, 'routes')}">
<section>

    <h2
            th:text="${route.routeId==null}
            ? 'Create Route'
            : 'Update Route'">
    </h2>

    <form th:action="@{/admin/routes/save}"
          th:object="${route}"
          method="post">

        <input type="hidden"
               th:field="*{routeId}">

        <div class="mb-3">

            <label>Route Code</label>

            <input class="form-control"
                   th:field="*{routeCode}">

        </div>

        <div class="mb-3">

            <label>Route Name</label>

            <input class="form-control"
                   th:field="*{routeName}">

        </div>

        <div class="mb-3">

            <label>Distance (km)</label>

            <input type="number"
                   step="0.1"
                   class="form-control"
                   th:field="*{distanceKm}">

        </div>

        <button class="btn btn-success">
            Save
        </button>

        <a th:href="@{/admin/routes}"
           class="btn btn-secondary">
            Back
        </a>

    </form>

</section>

</html>
