<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">
<head><title>Train Detail</title></head>
<body>
<section layout:fragment="content" class="content-wrapper p-3">
    <div th:replace="~{fragments/toast :: toast}"></div>

    <div class="content-header">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div>
                <h1>Train Detail</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/admin/trains}">Trains</a></li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
            <div>
                <a th:href="@{/admin/trains}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back
                </a>
                <a th:href="@{/admin/trains/{id}/edit(id=${train.trainId})}" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Edit
                </a>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-train"></i>
                        <span th:text="${train.trainName}">SE1 Express</span>
                    </h3>
                </div>

                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-sm-3">Train ID</dt>
                        <dd class="col-sm-9" th:text="${train.trainId}">1</dd>

                        <dt class="col-sm-3">Train Code</dt>
                        <dd class="col-sm-9">
                            <span class="badge bg-primary" th:text="${train.trainCode}">SE1</span>
                        </dd>

                        <dt class="col-sm-3">Train Name</dt>
                        <dd class="col-sm-9" th:text="${train.trainName}">SE1 Express</dd>

                        <dt class="col-sm-3">Train Type</dt>
                        <dd class="col-sm-9">
                            <span class="badge bg-info" th:text="${train.trainType}">EXPRESS</span>
                        </dd>
                    </dl>
                </div>

                <div class="card-footer text-end">
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTrainModal">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
            </div>

            <div class="modal fade" id="deleteTrainModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Train</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete
                            <strong th:text="${train.trainName}">SE1 Express</strong>?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form th:action="@{/admin/trains/{id}/delete(id=${train.trainId})}" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>
</body>
</html>